@import 'bootstrap/scss/bootstrap';
@import 'lity';

body {
  background-color: #f5f8fa;
}

.bike-card {
  .card-title, .card-text {
    color: $black;
  }
}

.lity-content {
  video {
    width: 100%;
    height: auto;
  }
}

.padme {
  padding-top: 5em;
}