@import 'vendor/bootstrap';

.fit-video-to-screen {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.black-background {
  background-color: black;
}
