<!doctype html>
<html lang="en_US">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!--[if IE]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        
        <div class="container">
            {{ content }}
        </div>
        
        {% javascript vendor %}
        {% javascript application %}
    </body>
</html>
