<!doctype html>
<html class="no-js" lang="">
    <head>
        {% include head.html %}
    </head>
    <body class="black-background">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        {{ content }}
        <!-- Scripts go here -->
    </body>
</html>
